**/__pycache__/
**/*.py[cod]

# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Virtual environment
.env
.venv/
venv/

# PyCharm
.idea

# VS Code
.vscode/

# test
tests/
**test_*.py
*report.html

